.row:not(.row-no-margin) {
  margin-bottom: 100px;
}

.btn-call-to-action {
  display: inline-block;
  padding: 10px 20px;
  border: 3px solid $color-text-light;
  color: $color-text-light;
  transition: all .2s ease;
  font-size: 18px;
  position: relative;
  background: transparent;
  z-index: 100;
  box-shadow: 0 0 0 0 transparent;
  border-radius: 0;

  &:hover {
    background: $color-text-light;
    text-decoration: none;
    color: $color-text-dark;
    border: 3px solid $color-text-light;
    box-shadow: -5px 5px 0 0 $color-theme-orange;
  }
}

.btn-call-to-action-dark {
  color: $color-background-dark;
  border-color: $color-background-dark;

  &:hover {
    background: $color-text-dark;
    color: $color-text-light;
    border-color: $color-background-dark;
    box-shadow: -5px 5px 0 0 $color-theme-orange;
  }
}

.photo-listing, .video-listing, .design-listing, .person-listing, .project-listing {
  margin-bottom: 35px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  
  a {
    transition: all .2s ease;
    padding: 25px;
    display: block;
    background-color: $color-background-gray;
    color: $color-background-dark;

    &:hover {
      text-decoration: none;
      background-color: lighten($color-background-light, 10);
    }
  }
  .crop {
    overflow: hidden;
    margin-bottom: 15px;

    img {
      object-fit: cover;
      width: 300px;
      height: 250px;
      margin: 0px 0 0 0;
    }
  }
  

  .content {
    flex: 1
  }
}

.project-listing {  
  a {
    &:hover {
      background-color: lighten($color-theme-green, 50);
    }
  }
}

.photo-listing {
  a {
    background-color: #2C363F;

    .content, .heading {
      color: $color-background-light;
    }
    &:hover {
      background-color: #F4B7C5;
      .content, .heading {
        color: $color-background-dark;
      }
    }
  }
}

.video-listing {
  a {
    background-color: #2C363F;

    .content, .heading {
      color: $color-background-light;
    }
    &:hover {
      background-color: #DCC9FC;
      .content, .heading {
        color: $color-background-dark;
      }
    }
  }
}

.design-listing {
  a {
    background-color: #2C363F;

    .content, .heading {
      color: $color-background-light;
    }

    &:hover {
      background-color: $color-background-gray;
      .content, .heading {
        color: $color-background-dark;
      }
    }
  }
}

.fluid-section-header {
  height: 400px;
  background-image: url("/static/banner.jpg");
  background-size: cover;
  margin-bottom: 200px;
  position: relative;
    
  @media (min-width: 600px) {
    margin-bottom: 100px;
  }

  &:hover {
    &::before {
      opacity: 0;
    }
  }

  h2 {
    @media (min-width: 600px) {
      padding: 35px 50px;
    }
    padding: 15px;
    margin-top: 300px;
    text-align: center;
    color: $color-text-dark;
    background: $white
  }

  &::before {
    content: '';
    display: block;
    position: absolute;
    width: 100%;
    height: 100%;
    background: linear-gradient(to right, rgba(253, 153, 23, 0.4), rgba(29, 178, 75, 0.4));
    transition: all .2s ease;
    margin-left: -15px;
  }
}

.footer {
  padding: 75px 0;
  color: $color-text-light;
  background-color: $color-background-dark;

  @media (max-width: 600px) {
    text-align: center;
  }

  .row {
    margin: 0;
  }

  .nav {
    justify-content: center;
    margin-top: 35px;
    a {
      padding: 0 5px;
      margin: 0 15px;
      &:hover {
        color: $color-text-light
      }
    }
    @media(max-width: 600px) {
      a {
        padding: 0 5px;
        margin: 10px 15px;
      }
    }
  }
  hr {
    width: 50px;
    height: 3px;
    outline: none;
    border: none;
    background-color: $color-theme-orange;
    @media (min-width: 600px) {
      margin: 30px 20px 30px auto;
    }
    margin: 30px auto;
  }

  .github {
    @media (min-width: 600px) {
      text-align: right;
      margin-right: 20px;
    }
    a {
      &:hover {
      color: $color-text-light
    }
  }
  }
  }


input[type="text"], input[type="email"], .message-input {
  border: 2px solid $color-background-dark;
  border-radius: 0;
  padding: 5px 10px;
  color: $color-background-dark;
}

.message-input {
  width: 100%;
}