a {
  color: $color-theme-orange;
  transition: all .2s ease;
  
  &:hover {
    color: $color-text-dark;
    background: $color-theme-orange;
    text-decoration: none;
    
  }
}

h1, h2, h3, h4, h5, h6 {
  font-family: "merriweather", sans-serif;
}

.display-1, .display-2, .display-3, .display-4 {
  font-weight: 300;
}

body, p, a, li {
  font-family: "lato", sans-serif;
}