$color-text-light: #f8f8f8;
$color-text-dark: #2b2b2b;
$color-primary: lightsteelblue;
$color-theme-orange: rgb(253, 153, 23);
$color-theme-green: rgb(29,178,75);
$color-link: $color-primary;
$color-background-light: lightsteelblue;
$color-background-gray: #e9ecef;
$color-background-dark: #2b2b2b;
$white: #fff;