@import 'vars';
@import 'typography';
@import 'components';

.layout, #__next, body, html {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  
  .layout-body {
    flex: 1;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.cmnav {
  padding-top: 25px;
  padding-bottom: 25px;
  transition: all .2s ease;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
  .dropdown-menu {
    background: $color-background-dark;

    .dropdown-item {
      transition: all .2s ease;

      &:hover {
        background: lighten($color-background-dark, 10);
      }
    }
  }
  .nav-item .nav-link, .navbar-brand, .dropdown-item {
    transition: all .2s ease;
    color: $color-text-light;
    
    &:focus {
      color: $color-text-light;
    }
    &:hover {
      color: white;
      background: transparent;
      
    }
  }
  .nav-item .nav-link:not(.icon-wrapper), .navbar-brand {
    box-shadow: 0 3px 0 0 transparent;
    padding: 5px 10px;
    margin: 0 5px;
    &:hover {
      box-shadow: 0 3px 0 0 white;
    }
  }

  .icon-wrapper {
    box-shadow: 0 3px 0 0 transparent;
    padding: 5px 10px;
    margin: 0 5px;
    &:hover {
      box-shadow: 0 3px 0 0 white;
    }
  }
}

.page-header {
  padding-top: 250px;
  margin-top: -90px;
  margin-bottom: 0;
  background: url('/static/banner.jpg');
  background-size: cover;
  color: $color-text-light;
  box-shadow: 0 3px 30px rgba(50, 50, 50, 0.3);
  border-radius: 0;

  p, h1, .nav-item {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }
}

.post-listings {
  .post-listing {
    margin-bottom: 50px;
  }
  .blog-post-preview {
    border-bottom: 3px solid $color-primary;
    padding: 35px 0;

    > h2 {
      margin-bottom: 10px;
    }
    .post-listing-data {
      margin-bottom: 35px;
      padding-left: 5px;
    }
  }
  hr {
    width: 100px;
    height: 3px;
    border: none;
    outline: none;
    background-color: $color-primary;
    margin: 50px auto 50px 0;
  }
}

.heading, .content {
  color: $color-text-dark;
}

.person {
  .profile {
    border-radius: 5px;
    box-shadow: 5px 5px 35px rgba(80, 80, 80, 0.25)
  }
}

.home-video {
  margin-bottom: 100px;
}

.team-header {
  background-image: linear-gradient(to right, rgba(253, 153, 23, 0.5), rgba(29,178,75, 0.4)), url('/static/group-home.jpg');
  &:hover {
    background-image: linear-gradient(to right, rgba(253, 153, 23, 0), rgba(29, 178, 75, 0)), url('/static/group-home.jpg');
  }
}

.title-row {
  margin: 50px auto;
}

.player-wrapper {
  position: relative;
  width: 100%;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

@media (min-width: 650px) {
  .player-wrapper {
    margin: 50px 0 100px 0;

    &::after {
      content:'';
      display: block;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 110%;
      background: linear-gradient(45deg, rgba($color-theme-orange, 0.5), rgba($color-theme-green, 0.5));
      z-index: -1;
    }
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 15px 50px rgba(40, 40, 40, 0.4);
}

.call-to-action-paragraph {
  font-size: 22px;
  margin-top: 15px;
}

#main-call-to-action {
  margin: 15px auto 0 auto;
}

.fb-icon, .insta-icon {
  transition: all .2s ease;
  fill: white;
  margin-top: -2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  border: none;
  
  &:hover {
    //fill: $color-text-dark;
    //box-shadow: 0px 0px 0px 3px $color-theme-orange;
  }
}

.services-grid {
  margin-top: 150px;
  margin-bottom: 150px;
}

.grid-row {
  max-height: 77vh;
  margin: -75px;
}

.grid-square {
  margin-left: 10px;
  margin-right: 10px;
  transition: all .1s ease;
  display: block;
  position: relative;
  //background-color: $color-background-gray;
  //margin: 2%;
  max-height: 80%;
  height: auto;
  flex: 1;
  color: $color-text-dark;

  .image {
    padding-top: 20px;
  }

  .title {
    text-align: center;
    font-size: 36px;
    padding: 20px;
  }

  /*&::after{
    content:'';
    display: none;
    position: absolute;
    top: 20px;
    left: 45%;
    transform: translateX(-50%);
    height: 100%;
    width: 100%;
    background: linear-gradient(45deg, rgba($color-theme-orange, 0.5), rgba($color-theme-green, 0.5)), white;
    z-index: -1;
    padding-bottom: -20px;
  }

  &:hover {
    box-shadow: -20px 20px 30px 0px rgba(40, 40, 40, 0.4);
    //box-shadow: -20px 20px 0 0 $color-theme-orange;
    background: white;
    color: black;
    &::after{
      display: block;
    }
  }
  */
}