@import 'vars';
@import 'typography';

.layout, #__next, body, html {
  height: 100%;
}
.layout {
  display: flex;
  flex-direction: column;
  
  .layout-body {
    flex: 1;
    margin-top: 100px;
    margin-bottom: 100px;
  }
}

.cmnav {
  padding-top: 25px;
  padding-bottom: 25px;
  transition: all .2s ease;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  
  .dropdown-menu {
    background: $color-background-dark;

    .dropdown-item {
      transition: all .2s ease;

      &:hover {
        background: lighten($color-background-dark, 10);
      }
    }
  }
  .nav-item .nav-link, .navbar-brand, .dropdown-item {
    transition: all .2s ease;
    color: $color-text-light;
    
    &:focus {
      color: $color-text-light;
    }
    &:hover {
      color: darken($color-text-light, 10)
    }
  }
}

.page-header {
  padding-top: 250px;
  margin-top: -90px;
  margin-bottom: 0;
  background-image: url('/static/banner.jpg');
  background-size: cover;
  color: $color-text-light;
  text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  box-shadow: 0 3px 30px rgba(50, 50, 50, 0.3);
  border-radius: 0;
}

.footer {
  padding: 50px;
  color: $color-text-light;
  background-color: $color-background-dark;

  hr {
    width: 50px;
    height: 3px;
    outline: none;
    border: none;
    background-color: coral;
  }
}

.post-listings {
  .post-listing {
    margin-bottom: 50px;
  }
  .blog-post-preview {
    border-bottom: 3px solid $color-primary;
    padding: 35px 0;

    > h2 {
      margin-bottom: 10px;
    }
    .post-listing-data {
      margin-bottom: 35px;
      padding-left: 5px;
    }
  }
  hr {
    width: 100px;
    height: 3px;
    border: none;
    outline: none;
    background-color: $color-primary;
    margin: 50px auto 50px 0;
  }
}

.heading, .lead, .content {
  color: $color-text-dark;
}

.home {
  position: relative;
  min-width: 100%;
  background-size: cover;
  margin-top: 0;

  //.player {
    //margin: 0;
    //padding: 0;
    //box-sizing: border-box;
  //}

  .child1, .child2, .child3 {
    padding: 15px;
    align-content: center;
    min-width: 100%;
    height: auto;
  }

  .child1 {
    background-color: white;
  }

  .child2 {
    background-color: $color-background-dark;
    .title {
      color: white;
      font-size: 3em;
      text-align: center;
    }
  }

  .child3 {
    background-image: url('/static/group-home.jpg');
    background-color: gray;
    background-blend-mode: screen;
    background-size: cover;
    padding-top: 250px;
    padding-bottom: 25px;
    position: relative;
    //height: 75vh;
    //min-height: 25rem;
    width: 100%;
    overflow: hidden;


    &:hover {
      background-color: black;
      background-image: url('/static/group-home.jpg');
      background-blend-mode: screen;
      .team-text {
        color: $color-text-light
      }
      cursor: pointer;
    }
    
    > a {
      text-decoration: none;
    }

    > video {
      position: absolute;
      top: 50%;
      left: 50%;
      min-width: 100%;
      min-height: 100%;
      width: auto;
      height: auto;
      z-index: 0;
      -ms-transform: translateX(-50%) translateY(-50%);
      -moz-transform: translateX(-50%) translateY(-50%);
      -webkit-transform: translateX(-50%) translateY(-50%);
      transform: translateX(-50%) translateY(-50%);
    }
    .team-text{
      color: $color-text-dark;
      font-family: $lobster-display-font;
      font-size: 64px;
      text-decoration: none;
      z-index: 1;
    }
  }
}

//<video playsinline="playsinline" loop="loop" muted="muted" autoplay="autoplay">
  //              <source src="video/group_vid_crop_optimized.mp4" type="video/mp4"></source>
  //              Video is not playing
  //            </video>

.person-listing, .project-listing {
  margin-bottom: 35px;
  align-self: stretch;
  display: flex;
  flex-direction: column;
  
  a {
    transition: all .2s ease;
    padding: 25px;
    display: block;
    background-color: $color-background-gray;
    &:hover {
      text-decoration: none;
      background-color: lighten($color-background-light, 10);
    }
  }

  img {
    margin-bottom: 15px;
  }

  .content {
    flex: 1
  }
}

.project-listing {  
  a{
    &:hover {
      background-color: lighten($color-theme-green, 50);
    }
  }
}

.person {
  .profile {
    border-radius: 5px;
    box-shadow: 5px 5px 35px rgba(80, 80, 80, 0.25)
  }
}