@import 'vars';
@import 'typography';
@import 'components';
@import 'slider';

.layout, #__next, body, html {
  height: 100%;
}

.layout {
  display: flex;
  flex-direction: column;
  
  .layout-header {
    margin-bottom: 100px;
  }

  .layout-body {
    flex: 1;
    margin-bottom: 100px;
  }
}

.cmnav {
  padding-top: 25px;
  padding-bottom: 25px;
  transition: all .2s ease;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.3);
  margin-bottom: 150px;

  .dropdown-menu {
    background: $color-background-dark;

    .dropdown-item {
      transition: all .2s ease;

      &:hover {
        background: lighten($color-background-dark, 10);
      }
    }
  }
  .nav-item .nav-link, .navbar-brand, .dropdown-item {
    transition: all .2s ease;
    color: $color-text-light;
    
    &:focus {
      color: $color-text-light;
    }
    &:hover {
      color: white;
      background: transparent;
      
    }
  }
  .nav-item .nav-link:not(.icon-wrapper), .navbar-brand {
    box-shadow: 0 3px 0 0 transparent;
    padding: 5px 10px;
    margin: 0 5px;
    &:hover {
      box-shadow: 0 3px 0 0 white;
    }
  }

  .icon-wrapper {
    box-shadow: 0 3px 0 0 transparent;
    padding: 5px 10px;
    margin: 0 5px;
    &:hover {
      box-shadow: 0 3px 0 0 white;
    }
  }
}

.page-header {
  @media (min-width: 600px) {
    padding: 0 2rem 4rem 2rem;
  }
  padding: 0 0 2rem 0;
  margin-bottom: 0;
  background: url('/static/banner.jpg');
  background-size: cover;
  background-position: center top;
  color: $color-text-light;
  border-radius: 0;

  p, h1, .nav-item {
    text-shadow: 0 0 15px rgba(0, 0, 0, 0.3);
  }

  h1 {
    word-wrap: break-word
  }
}

.post-listings {
  .post-listing {
    margin-bottom: 50px;
  }
  .blog-post-preview {
    border-bottom: 3px solid $color-primary;
    padding: 35px 0;

    > h2 {
      margin-bottom: 10px;
    }
    .post-listing-data {
      margin-bottom: 35px;
      padding-left: 5px;
    }
  }
  hr {
    width: 100px;
    height: 3px;
    border: none;
    outline: none;
    background-color: $color-primary;
    margin: 50px auto 50px 0;
  }
}

.heading, .content {
  color: $color-text-dark;
}

.person {
  .profile {
    border-radius: 5px;
    box-shadow: 5px 5px 35px rgba(80, 80, 80, 0.25)
  }
}

.title-row {
  margin: 50px auto;
}

.player-wrapper {
  position: relative;
  width: 80%;
  float: left;
  padding-top: 56.25%; /* 720 / 1280 = 0.5625 */
}

@media (min-width: 650px) {
  .player-wrapper {
    margin: 0 0 50px 0;

    &::after {
      content:'';
      display: block;
      position: absolute;
      top: 50px;
      left: 50%;
      transform: translateX(-50%);
      height: 100%;
      width: 110%;
      background: linear-gradient(45deg, rgba($color-theme-orange, 0.5), rgba($color-theme-green, 0.5));
      z-index: -1;
    }
  }
}

.about-text {
  font-size: 20px;
  font-weight: 300;
  margin-bottom: 35px;
  color: $color-text-dark;

  p.lead {
    font-weight: 400;
  }

  p:not(.lead) {
    margin-bottom: 50px;
  }
}

.react-player {
  position: absolute;
  top: 0;
  left: 0;
  box-shadow: 0 15px 50px rgba(40, 40, 40, 0.4);
}

.call-to-action-paragraph {
  font-size: 22px;
  margin-top: 15px;
}

#main-call-to-action {
  margin: 15px 15px 0 auto;
}

.fb-icon, .insta-icon, .youtube-icon, .twitter-icon, .linkedin-icon {
  transition: all .2s ease;
  fill: white;
  margin-top: -2px;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 2px;
  border: none;
}

.twitter-icon {
  transform: scale(0.85)
}

.services-container {
  margin-top: -100px;
  margin-bottom: -100px;
  padding: 100px 0;
  // background: linear-gradient(to bottom, rgba(darken($color-background-gray, 10), 0.3), rgba(darken($color-background-light, 10), 0.5))
}

.services-grid {
  margin-top: 50px;
  margin-bottom: 50px;
}

.grid-row {
  align-items: stretch;

  .col-md-7 {
    padding: 35px 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    h3 {
      font-size: 35px
    }
    hr {
      width: 50px;
      height: 3px;
      background-color: $color-theme-orange;
      margin: 25px auto 35px 0;
    }
    div {
      flex-grow: 1;
      font-size: 20px;
    }
  }
}

.contact-form {
  label {
    margin-top: 5px;
    margin-bottom: 0;
  }

  textarea {
    margin-bottom: 25px;
  }

  .submit-button {
    margin-top: 10px;
  }
}

.success-message, .error-message {
  text-align: center;
  margin-bottom: 100px;

  h3 {
    color: $color-theme-green
  }
}

.form-control, .message-input, .whom, .filter{
  transition: all .2s ease;

  &:focus {
    outline: 0;
    border-color: $color-theme-orange;
    box-shadow: 0 0 0 0.2rem rgba($color-theme-orange, 0.25);
  }
}

.project-members {
  padding: 10px;
  margin-top: 50px;
}

.breadcrumb-row {
  margin-top: -50px;
  padding: 0;
  margin-bottom: 30px;

  .breadcrumb {
    background: none;
    border-bottom: 3px solid;
    border-radius: 0;
    border-color: $color-theme-orange;
    padding: 0 0 25px 0;
    margin-bottom: 75px;
  }
}

.whom, .filter {
  border-color: black;
  border-width: 2px;
  border-radius: 0;
  width: 100%;
  padding: 5px;
  padding-left: 10px;

  -webkit-appearance: none; 
  -moz-appearance: none;
  appearance: none;

  background-image:
    linear-gradient(45deg, transparent 50%, gray 50%),
    linear-gradient(135deg, gray 50%, transparent 50%),
    linear-gradient(to right, #ccc, #ccc);
  background-position:
    calc(100% - 15px) 50%,
    calc(100% - 10px) 50%,
    calc(100% - 2em) 50%;
  background-size:
    5px 5px,
    5px 5px,
    1px 60%;
  background-repeat: no-repeat;
  background-color: #ffffff;
  color: #6b747d;
}

.filter {
  margin: 0 0 20px 0px ;

}